<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target
      xsi:type="File"
      name="application-errors"
      fileName="../Logs/${shortdate}/application-errors.log"
      layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target
      xsi:type="File"
      name="api-logs"
      fileName="../Logs/${shortdate}/api-logs.log"
      layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="application-errors" />

    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <logger name="apiLogger" minlevel="Info" writeTo="api-logs" />
  </rules>
</nlog>